# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
.cache/
public/

# Dependencies
node_modules/

# Environment files
.env
.env.* # Ignore environment-specific files, e.g., .env.production or .env.development

# gatsby-config cache
.cache-loader

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Build artifacts
dist/
build/

# Yarn and npm files
.pnp/
.pnp.js
yarn.lock
package-lock.json # (optional, if you're using npm)

# Miscellaneous
coverage/ # If using code coverage tools
*.swp # Swap files created by text editors like Vim
*.sublime-workspace

